USE master
GO
IF EXISTS(SELECT * FROM sys.databases WHERE name = 'Personel')
		DROP DATABASE Personel
GO
--Tạo CSDL Personel
CREATE DATABASE Personel
GO
--Chọn CSDL làm việc
USE Personel
GO
--Tạo bảng User lưu thông tin người sử dụng
CREATE TABLE Users(
	Username nvarchar(50) NOT NULL,
	Password nvarchar(50) NOT NULL,
	Fullname nvarchar(50) NOT NULL,
	PRIMARY KEY(Username)
)
GO
--Tạo bảng Departs lưu thông tin phòng ban
CREATE TABLE Departs(
	Id nvarchar(10) NOT NULL,
	Name nvarchar(50) NOT NULL,
	PRIMARY KEY(Id)
)
GO
--Tạo bảng Staffs lưu thông tin nhân viên
CREATE TABLE Staffs(
	Id int IDENTITY(1,1) NOT NULL,
	Name nvarchar(50) NOT NULL,
	Gender bit NOT NULL,
	Birthday date NOT NULL,
	Photo nvarchar(50),
	Email nvarchar(50) NOT NULL,
	Phone nvarchar(25) NOT NULL,
	Salary int NOT NULL,
	Notes nvarchar(500) NULL,
	DepartId nvarchar(10) NOT NULL,
	PRIMARY KEY(Id),
	FOREIGN KEY(DepartId) REFERENCES Departs(Id) ON DELETE CASCADE ON UPDATE CASCADE
)
GO
--Tạo bảng Records lưu thông tin thành tích và kỷ luật của nhân viên
CREATE TABLE Records(
	Id bigint IDENTITY(1,1) NOT NULL,
	Type int NOT NULL,
	Reason nvarchar(200) NOT NULL,
	Date date NOT NULL,
	StaffId int NOT NULL,
	PRIMARY KEY(Id),
	FOREIGN KEY(StaffId) REFERENCES Staffs(Id) ON DELETE NO ACTION ON UPDATE CASCADE
 )

 GO
 INSERT INTO Users VALUES('admin',123,N'Trần Đức')
 INSERT INTO Users VALUES('admin2',456,N'Nguyễn Mạnh')
 INSERT INTO Users VALUES('admin3',789,N'Lê Nam')


 GO 
  INSERT INTO Departs VALUES('PNS',N'Phòng Nhân Sự')
  INSERT INTO Departs VALUES('PKD',N'Phòng Kinh Doanh')
  INSERT INTO Departs VALUES('PPT',N'Phòng Phát Triển')



GO
INSERT INTO Staffs VALUES(N'Đỗ Trung Hiếu',1,'1995/09/18','hieu.jpg','dotrunghieu@gmail.com','068977777',20000000,
								N'Ghét màu hông','PNS')
INSERT INTO Staffs VALUES(N'Nguyễn Văn Mạnh',1,'1993/07/19','manh.jpg','nguyenmanh@gmail.com','068978997',20000000,
								N'Gì cũng thích','PNS')
INSERT INTO Staffs VALUES(N'Nguyễn Thùy Linh',0,'1993/01/18','linh.jpg','nguyenlinh@gmail.com','068977769',20000000,
								N'Yêu màu hông','PNS')







GO 
  INSERT INTO Records VALUES(1,N'Làm tốt','2019/09/05',1)
  INSERT INTO Records VALUES(0,N'Đi trễ','2019/09/06',1)
  INSERT INTO Records VALUES(1,N'Làm tốt','2019/09/07',1)

  
 


  


  


  



  


  


  go




-----------Thống top 10 nhân viên theo năm hiện tại.
IF OBJECT_ID ('sp_top10') is not null
DROP PROC sp_top10
GO
CREATE PROC sp_top10
AS
BEGIN
	SELECT * FROM Staffs 
	WHERE  id in (Select
					TOP 10	Staffid
					from Records
					Where YEAR(Date) = YEAR(GETDATE())
					Group by StaffId
					Order by 2*SUM(Type) - COUNT(StaffId) desc)		
END
GO

------------------Tổng hợp thành tích nhân viên theo năm hiện tại
IF OBJECT_ID ('sp_ttnhanvien') is not null
DROP PROC sp_ttnhanvien
GO
CREATE PROC sp_ttnhanvien
@Name nvarchar(50),
@Ofset int,
@Fetch int
AS
BEGIN
  	
			SELECT 
				S.Id AS Id,
				S.Name AS Ten,
				SUM(R.Type) AS ThanhTich,
				COUNT(R.StaffId) - SUM(R.Type) AS KyLuat,
				2*SUM(Type) - COUNT(StaffId) AS DiemThuong

			FROM  Staffs S JOIN RECORDS R ON S.Id = R.StaffId
			WHERE  YEAR(R.Date) = YEAR(GETDATE()) and S.Name like N'%' +@Name + '%'
			GROUP BY R.StaffId , S.Id, S.Name
			ORDER BY DiemThuong desc
			OFFSET @Ofset ROWS
			FETCH NEXT @Fetch ROWS ONLY;
		
END
GO

--EXEC sp_ttnhanvien @Name=N'',@Ofset =0,@Fetch =19





--------------Tổng hợp thành tích của phòng ban năm hiện tại.

IF OBJECT_ID ('sp_ttphongban') is not null
DROP PROC sp_ttphongban
GO
CREATE PROC sp_ttphongban
AS
BEGIN	
	SELECT 
		D.Id AS Id,
		D.Name AS Ten,
		SUM(R.Type) AS ThanhTich,
		COUNT(D.Name) - SUM(R.Type) AS KyLuat,
		2*SUM(R.Type) - COUNT(D.Name) AS DiemThuong

	FROM  Staffs S JOIN RECORDS R ON S.Id = R.StaffId
				   JOIN DEPARTS D ON D.Id = S.DepartId
	WHERE  YEAR(R.Date) = YEAR(GETDATE())
	GROUP BY D.Name, D.Id
	ORDER BY DiemThuong desc

END
GO

